<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Action Button.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Comment Blocker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Shut Up.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Shut Up: BG Fetch Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shut Up: Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>113ECB2F1BA7EB160019F3E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>113ECB401BA7EE480019F3E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E2CD421B3FBA1B00ECC18A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E2CD641B40E20300ECC18A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E2CD761B40E34100ECC18A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E2CD871B40E3F200ECC18A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
